# BACKEND_URL=https://skillbridge-backend-phi.vercel.app
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

# NEXT_PUBLIC_BACKEND=https://skillbridge-backend-phi.vercel.app
NEXT_PUBLIC_BACKEND=http://localhost:5000
NEXT_PUBLIC_FRONTEND=http://localhost:3000

# API_URL=https://skillbridge-backend-phi.vercel.app
API_URL=http://localhost:5000
# AUTH_URL=https://skillbridge-backend-phi.vercel.app/api/auth
AUTH_URL=http://localhost:5000/api/auth

NEXT_PUBLIC_BACKEND_URL=http://localhost:5000
# NEXT_PUBLIC_BACKEND_URL=https://skillbridge-backend-phi.vercel.app
